<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2 text-danger">
                <h5>Personal Details</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"><label>Name:</label>'+ candid.given_name +'</div>
            <div class="col-lg-2"><label>Gender:</label>'+ candid.gender +'</div>
            <div class="col-lg-3"><label>DOB:</label>'+candid.date_of_birth +'</div>
            <div class="col-lg-2"><label>Contact No.:</label>'+ candid.mobile +'</div>
        </div>
    </div>
</div>